.ingredient-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 272px;

    overflow: hidden;

    position: relative;
}

.counter{
    position: absolute;
    top: 0;
    right: 0;
}

.price{
    display: flex;
    align-items: center;
}

.name{
    text-align: center;
}