.ingredient-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 272px;

    overflow: hidden;
}

.price{
    display: flex;
    align-items: center;
}

.name{
    text-align: center;
}