.burger-constructor{
    display: flex;
    flex-direction: column;

    height: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-y: hidden;
}

.total-price{
    display: flex;
    align-items: center;
}

.order{
    display: flex;

    justify-content: flex-end;
    padding-bottom: 52px;
}

.total-price svg {
    width: 33px;
    height: 33px;
}

.constructor-element{
    max-height: 80px;

    display: flex;
    justify-content: space-between;
}

.scroll-list{
    composes: list;
    overflow-y: scroll;

    height: 100%;
    padding-right: 16px;
}

.sub-list{
    height: 100%;

    overflow-y: hidden;
}

.draggable-elements{
    display: flex;
    align-items: center;
}

.draggable-elements .icon{
    cursor: pointer;
}