.draggable-element{
    display: flex;
    align-items: center;
}



.scroll-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-y: scroll;

    height: 100%;
    padding-right: 16px;
}
