.main-wrapper{
  display: flex;
  flex-direction: column;

  height: 100%;
}

.content{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 320px;

  display: flex;
  justify-content: space-between;

  overflow-y: hidden;
}

@media screen and (max-width:1921px) {
  .content{
    margin: 0 auto;
    padding: 0 60px;
  }
}
