.profile-wrapper {
    display: flex;

    margin: 120px auto 0;
    padding: 0 60px;

    height: 100%;
    width: 100%;

    max-width: 1280px;

    overflow: auto;
}

.info{
    max-width: 320px;
}

.link{
    height: 64px;

    display: flex;
    align-items: center;
}

.description{
    opacity: .4;
}

.content{
    width: 100%;
    overflow: hidden;
}