.ingredients-group{
    display: flex;
    flex-direction: column;

    text-align: left;
}

.ingredients-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 32px;
}