.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 540px;

    text-align: center;
}

.ingredient-details{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredient-detail{
    flex: 1;
}