.wrapper{
    width: 64px;
    height: 64px;

    object-fit: contain;

    background: #131316;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #e7b5ff;
}
.image{
    max-height: 56px;
}

.ingredients-counter{
    position: absolute;
}
